@use './var' as *;
// global roulse

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

ul {
    list-style: none;
}

h1, h2 , h3, h4, h5 {
    color: $Dark-Blue;
    font-weight: 400;
}
a {
    text-decoration: none;
}

p {
    line-height: 1.5;
    color: $Grayish-Blue;
    
}

li {
    cursor: pointer;
    color: $Grayish-Blue;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}




// placeholder
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%row {
    display: flex;
    align-items: center;
}



%m-auto {
    margin-left: auto;
    margin-right: auto;
}


%contianer{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/

@media (min-width: 768px) {
    %contianer {
       width: 750px; 
    }
}

/*medium*/

@media (min-width: 992px) {
    %contianer {
        width: 970px; 
    }
}

/*large*/

@media (min-width: 1200px) {
    %contianer {
       width: 1170px; 
    }
}

.btn {
        padding: 10px 30px;
        background-image: linear-gradient(to right,$Lime-Green,$Bright-Cyan);
        color: $White;
        border-radius: 15px;
}
